{% set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['dovecot-mysql', 'dovecot-imapd', 'dovecot-pop3d', 'dovecot-sieve', 'dovecot-lmtpd', 'dovecot-managesieved'],
        'service': 'dovecot',
    },
}, merge=salt['pillar.get']('dovecot:server')) %}
